/* estilos para el navbar mobile */
body {

  margin: 0;
  padding: 0;
}

.fondo1{
background-image: url(../assets/images/purple.png);
background-repeat: no-repeat;
width: 100%;
height: 100vh;
background-size: cover;
}

#logo {
    width: 30rem;
    top:40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}
.fondo2 {
  background-image: url(../assets/images/petersburg-2805505__340.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  }

  #logoPink{
    width: 30rem;
    top:40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
  }
  .btn-group{
    margin-left: 40%;
    margin-top: 38%;

  }

.button{

    background-color: rgba(129,251,240,.25);
    border: 1px solid white;
    border-radius: 5px;
    width: 13rem;
    height: auto;
    font-size: 3rem;
    color: #ea0b8c;
    display: inline-block;

}
.signUp {


    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(129,251,240,.25);
    width: 13rem;
    height: auto;
    font-size: 3rem;
    color: #ea0b8c;


}


.view1{
  width: inherit;
  height: auto;
  text-align: center;
}
.view1 ul li{
  list-style: none;
}

.view2{
  width: inherit;
  height: auto;
  text-align: center;
}
.view2 ul li{
  list-style: none;
}
